/* * {
 margin: 0;
 padding: 0;
} */


#gameboard {
    font-size: 0;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(146, 146, 146);
}

.square {
    height: 75px;
    width: 75px;
    position: relative;
}

.square img {
    height: 65px;
    width: 65px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: 10;
}

.piece {
    position: relative;
    z-index: 9;
}

.dark {
    background-color: #512a2a;
}

.light {
    background-color: #7c4c3e;
}

